input[type="text"], 
textarea {
  width: 100%;
  display: block;
  padding: 10px 0;
  border: none;
  color: $mediumgrey;
}

input[type="text"] {  
  font-size: 22px;
  margin: 20px 0;
  font-style: italic;
  &:valid {
    font-style: normal;
    color: #555;
  }
}

textarea {
  height: 70%;
  &:valid {
    color: #666;
  }
}

form {
  height: calc(100% - 70px); // make up for bottom buttons
  margin-top: 10px;
}

input[type=radio] {
  visibility: hidden;
  position: relative;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  &:first-of-type {
    margin-left: 0;
  }
}

input[type=radio]:before {
  content: "";
  visibility: visible;
  position: absolute;
  border-radius: 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input[value="red"]:before {
  background-color: $red;
}
input[value="green"]:before {
  background-color: $green;
}
input[value="yellow"]:before {
  background-color: $yellow;
}
input[value="blue"]:before {
  background-color: $mediumblue;
}

input[type=radio]:checked:before {
  border: 3px solid $mediumgrey;
}